/* 折线图组件样式 */
.h5-component-polyline {
}

.h5-component-polyline canvas {
    position: absolute;
    left: 0;
    top: 0; /* 用canvas做动画，会进行分层，所以需要脱离标准文档流 z-index*/
    width: 100%;
    height: 100%;
    /*background: #ccc;*/
}

.h5-component-polyline .text {
    position: absolute;
    font-size: 12px;
    text-align: center;
    bottom: -20px;
    height: 20px;
    line-height: 20px;
    -webkit-transform: scale(.8);
    -webkit-transition: all 1s 1.5s;
    -webkit-opacity: 0;
}

.h5-component-polyline-load .text {
    -webkit-opacity: 1;
}

.h5-component-polyline-leave .text {
    -webkit-opacity: 0;
}